################################################################################
# VAULT PKI CLI - PKI ENGINE & ROOT CA
#
# @file
# @version 0.1
#
##########
# PREREQUISITES
#   - Docker
#   - Kind
#   - kubectl
#   - Vault CLI
#   - Terraform
#   - make
#   - jq
#   - curl
#   - PGP/GPG/PASS
#   - Vault PKI Engines, Auth, Policies, Certs, Roles, etc.,
################################################################################

################################################################################
# ALL
################################################################################
all: create-policy

##########
# CREATE VAULT POLICY FOR PKI_TEST
#
create-policy:
	vault policy list
	vault policy write pki_test policy/pki_test.hcl
	vault policy list -format=json | jq

##########
#
#


################################################################################

##########
# DELETE VAULT POLICY
#
delete-policy:
#    vault policy delete pki_test







